
.old-product-name {
	font-weight: bold;
	font-size: 27px;
	color: black;
}

#leftEdit {
	position: relative;
	background-size: cover;
	background-position: center;
	height: calc(100% + 55px);
	width: 50%;
	top: 22px;
	left: 25px;
	color: black;
	font-size: 15px;
	display: flex;
	flex-flow: column nowrap;

}

#inline {
	display: flex;
	justify-content: space-between;
}

#button-edit {
	margin: auto;
}

#button-delete {
	size: 60px;
}



